<div class='nested-fields'>
    <hr>
    <%= f.input :addresstype %>
    <%= f.input :street %>
    <%= f.input :housenumber %>
    <%= f.input :postalcode %>
    <%= f.input :city %>
    <%= f.input :country %>
    <%= link_to_remove_association "remove address", f %>
    <hr>
</div>
